<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50 p-4">
  <img src="assets/images/logoEasyRoom.PNG" alt="Logo" class="w-48 mb-6" />

  <p-card styleClass="w-full md:w-96 lg:w-96">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="field mb-4">
          <p-floatlabel variant="on" class="custom-float-label">
            <p-iconfield>
                <p-inputicon class="pi pi-envelope" />
                <input
                  id="email"
                  type="email"
                  pInputText
                  formControlName="email"
                  class="w-full"
                />
            </p-iconfield>
            <label for="email">Correo electrónico</label>
          </p-floatlabel>
          <small *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="p-error block mt-1">
            Ingresa un correo válido.
          </small>
        </div>

        <div class="field mb-4">
          <p-floatlabel variant="on">
            <p-password
              id="password"
              formControlName="password"
              [feedback]="false"
              [toggleMask]="true"
              placeholder="Contraseña"
              styleClass="w-full"
              [inputStyle]="{'width': '100%'}"
            ></p-password>
          </p-floatlabel>
        </div>

        <div class="field mt-5">
          <button type="submit" pButton label="Iniciar sesión" class="w-full button" [disabled]="loading"></button>
        </div>
      </div>
    </form>
    <div class="flex flex-col items-center mt-4 space-y-3">
      <div class="text-center">
        <span class="text-sm text-gray-600">¿No tienes una cuenta? </span>
        <a 
          routerLink="/register" 
          class="text-[#80038d] hover:text-[#6a0277] underline hover:underline-offset-2 text-sm font-medium transition-colors"
        >
          Regístrate
        </a>
      </div>
    </div>
  </p-card>
</div>
<p-toast></p-toast>