@use "primeicons/primeicons.css";
@layer tailwind, primeng;

@layer tailwind {
  @import "tailwindcss";
}

$primary-color: #80038d;
$primary-hover-color: #6a0277;
$primary-focus-shadow: rgba(128, 3, 141, 0.3);

:root {
  --primary-color: #{$primary-color};
  --primary-hover-color: #{$primary-hover-color};
  --primary-focus-shadow: #{$primary-focus-shadow};
  --p-checkbox-checked-background: #{$primary-color};
  --p-checkbox-checked-focus-border-color: #{$primary-color};
  --p-checkbox-checked-hover-background: #{$primary-hover-color};
  --p-checkbox-checked-hover-border-color: #{$primary-hover-color};
  --p-checkbox-checked-border-color: #{$primary-color};
  --p-button-primary-background: #{$primary-color};
  --p-button-primary-hover-background: #{$primary-hover-color};
  --p-button-primary-border-color: #{$primary-color};
  --p-button-primary-focus-ring-color: #{$primary-focus-shadow};
  --p-button-outlined-primary-border-color: #{$primary-color};
  --p-button-outlined-primary-color: #{$primary-color};
  --p-button-text-primary-color: #{$primary-hover-color};
  --p-button-outlined-primary-hover-background: rgba(246, 205, 250, 0.776);
  --p-button-text-primary-active-background: rgba(246, 205, 250, 0.776);
  --p-button-outlined-primary-active-background: rgba(246, 205, 250, 0.776);
  --p-button-text-primary-hover-background: rgba(246, 205, 250, 0.776);
  --p-datepicker-date-selected-background: #{$primary-color};
  --p-button-primary-active-background: #{$primary-hover-color};
  --p-button-primary-active-border-color: #{$primary-hover-color};
  --p-slider-range-background: #{$primary-color};
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: block;
  height: 100%;
}

.p-inputtext:enabled:focus {
  border-color: $primary-color !important;
  box-shadow: none !important;
  outline: none !important;
}

